/* CSS Reset */
html {
  margin: 0;
  padding: 0;
  text-align: left;
}

html {
  text-rendering: optimizeLegibility;
  font-size: 14pt;
}

/* HTML5 tag defaults. */
header, footer, aside, nav, article 
{ 
  display: block;
}

h1, h2, h3, h4, h5 { 
  font-family: "Futura", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: normal;
  text-align: left;
}

body {
  font-family: Palatino, serif;
  font-size: 14pt;
  max-width: 40em;
  margin: auto;
  text-align: left;
  background: white;
  color: black;
}

/* Use a thin border around all images. */
img 
{
  border: 1px solid;
  max-width: 40em;
}

/* Navigation bar. */
nav 
{
  font-family: "Futura", "Helvetica Neue", "Helvetica", sans-serif;
  padding-bottom: 1ex;
  margin-bottom: 1em;
  font-size: 14pt;
}

nav ul 
{
  padding: 0;
  margin-left: 0;
  list-style: none;
}

nav ul li 
{
  display: inline;
  float: left;
  margin-right: 1em; /* How far between items. */
  margin-top: .2em;
}

nav ul li a 
{
  display: block;
  margin: 0;
}

/*
 * Use a border around tables, but don't draw lines around individual
 * cells.
 */
table 
{
  border-style: solid;
  border-collapse: collapse; 
  border-width: thin;
  font-size: 100%;
}

th, td 
{
  border-style: solid;
  border-width: thin;
}

/* for unvisited links: blue */
a:link
{
  color: rgb(0,0,239);
  text-decoration: none;
}

/* for visited links: purple */
a:visited
{
  color: rgb(81,24,142);
  text-decoration: none;
}

/* when mouse is over link or the link is active*/
a:hover, a:active
{
  text-decoration: underline;
}

/* Very clean ruler with no shadows. */
hr
{
  border: none;
  color: #000;
  height: 3px;
  background-color: #000;
}
