{% extends "base.html" %}
{% block title %} {{VERTSEPCHARS}} {{ARCHIVES}} {% endblock %}

{% block content %}
<h1>{{ ARCHIVES }}
<article>
  <div class="article_text">
    
    <!--
            <dl>
      {% for article in dates %}
      <dt>{{ article.locale_date }}</dt>
      <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
      {% endfor %}
        </dl>
    -->
      {% for article in dates %}
    <p>
            {{ article.locale_date }} {{ VERTSEPCHARS }} <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
    </p>
      {% endfor %}
  </div>
</article>
{% endblock %}
