{% extends "base.html" %}
{% block title %} {{ VERTSEPCHARS }} {{ CATEGORIES }}{% endblock %}

{% block content %}
<article>
        <h1>{{ CATEGORIES }}</h1>
        <div class="article_text">
                <ul>
                        {% for category, articles in categories|sort %}
                        <li>

                                {% if category.ancestors %}
                                {% for ancestor_category in category.ancestors[:-1] %}
                                <span>{{ ancestor_category.shortname | lower}}</span>
                                &gt;
                                {% endfor %}
                                {% endif %}
                                <a href="{{ SITEURL }}/{{ category.url }}">{{ category.shortname | lower}}</a>

                                <span>[{{ articles|count }} {{ ARTICLES }}]</span>

                                {% if category.page %}
                                <p>{{ category.page.content }}</p>
                                {% endif %}
                        </li>
                        {% endfor %}
                </ul>
        </div>
</article>
{% endblock %}
