{% extends "index.html" %}
{% block title %}{{ VERTSEPCHARS }} {{ CATEGORY }}: {{ category | lower }}{% endblock %}


{% block head %}
{% if CATEGORY_FEED_ATOM %}
<link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|replace("{slug}", category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} {{ category }} Category Atom" />
{% endif %}
{% if CATEGORY_FEED_RSS %}
<link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|replace("{slug}", category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} {{ category }} Category RSS" />
{% endif %}
{% endblock %}

{% block header %}
&gt; {{CATEGORY}}: {{ category | lower }}
{% if CATEGORY_FEED_ATOM %}
{{ VERTSEPCHARS }} <a href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|replace("{slug}", category.slug) }}"> {{ ATOM }}</a>
{% endif %}
{% if CATEGORY_FEED_RSS %}
{{ VERTSEPCHARS }} <a href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|replace("{slug}", category.slug) }}"> {{ RSS }}</a>
{% endif %}

<hr>
<h1>{{ CATEGORY }}: {{ category | lower }}</h1>
{{ category.page.content }}
<hr>

{% endblock %}
