{% extends "base.html" %}
{% block title %} {{ VERTSEPCHARS }} {{ CATEGORIES }}{% endblock %}

{% block content %}
<h1>{{ CATEGORIES }}</h1>
<article>
  <div class="article_text">
    <ul>
      {% for category, articles in categories|sort %}
      <li>
              <a href="{{ SITEURL }}/{{ category.url }}">{{ category | lower}}</a>
              <span>[{{ articles|count }} {{ ARTICLES }}]</span>
                
                <p>{{ category.page.content }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</article>
{% endblock %}
