{% extends "base.html" %}
{% block title %} {{ VERTSEPCHARS }} {{ TAGS }} {% endblock %}

{% block content %}
<article>
        <h1>{{ TAGS }}</h2>
        <ul>
                {%- for tag, articles in tags|sort %}
                <li>
                        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | lower}}</a>
                        <span>[{{ articles|count }} {{ ARTICLES }}]</span>
                        {% if tag.page %}
                        <p>{{ tag.page.content }}</p>
                        {% endif %}

                </li>
                {% endfor %}
        </ul>
</article>
{% endblock %}
