{% if DEFAULT_PAGINATION %}
<div class="paginations">
{% if articles_page.has_next() %}
<a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html" class="pagination_older">< {{ OLDER }}</a>
{% endif %}

{% if articles_page.has_previous() %}
{% if articles_page.previous_page_number() == 1 %}
<a href="{{ SITEURL }}/{{ page_name }}.html" class="pagination_newer">{{ NEWER }} ></a>
{% else %}
<a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html" class="pagination_newer">{{ NEWER }} ></a>
{% endif %}
{% endif %}
</div>
{% endif %}
